<div class="container-fluid">
    <div class="row">
        <div class="col-3 float-left" style="padding: 0px;">
            <app-menu-tree></app-menu-tree>
        </div>
        <div class="col-9 float-left" style="padding: 0px;">
            <div class="col-12 titleSearch">
                <i class="fa fa-plus-square" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">THÔNG TIN CHI TIẾT TÀI KHOẢN</span>
            </div>
            <div class="col-12" style="padding: 0px;display: flex; border-bottom: 1px solid #BDBDBD;">
                <div class="col-6 colLeft">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Tên tài khoản
                        </label>
                        <div class="col-sm-7 txt">
                        <label>ABCDEF123456789</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Gói tài khoản
                        </label>
                        <div class="col-sm-7 txt">
                        <label>------</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Mã loại tài khoản
                        </label>
                        <div class="col-sm-7 txt">
                        <label>Tài khoản thanh toán</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Mã tiền tệ
                        </label>
                        <div class="col-sm-7 txt">
                        <label>VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Ngày mở
                        </label>
                        <div class="col-sm-7 txt">
                        <label>28/10/2020</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Mã nhân viên
                        </label>
                        <div class="col-sm-7 txt">
                        <label>M123456</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Tên gợi nhớ
                        </label>
                        <div class="col-sm-7 txt">
                        <label>ABCNHDG</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Trạng thái
                        </label>
                        <div class="col-sm-7 txt">
                        <label>Khởi tạo</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 colRight">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số tài khoản
                        </label>
                        <div class="col-sm-7 txt">
                        <label>123456789904</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số dư hiện tại
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0 VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số dư khả dụng
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0 VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Hạn mức chi tiêu
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0 VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số dư đầu ngày
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0 VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số dự bị khóa
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0 VNĐ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Chi nhánh/PGD
                        </label>
                        <div class="col-sm-7 txt">
                        <label>Ba Đình - Hà Nội</label>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-12" style="text-align: right;height: 57px;padding-top: 10px;border-top: 1px solid #BDBDBD;">
                <button type="button" class="btn btn-primary" style="background-color: #23388F;margin-right: 15px;">
                    <mat-icon aria-hidden="false" style="display: block;float: left;">clear</mat-icon>
                    <span style="display: block;float: left;">Xóa thông tin</span>
                </button>
                <button type="button" class="btn btn-primary" style="background-color: #23388F;margin-right: 15px;">
                    <mat-icon aria-hidden="false" style="display: block;float: left;">add</mat-icon>
                    <span style="display: block;float: left;">Thêm mới</span>
                </button>
                <button type="button" class="btn btn-primary" style="background-color: #23388F;">
                    <mat-icon aria-hidden="false" style="display: block;float: left;">edit</mat-icon>
                    <span style="display: block;float: left;">Cập nhập</span>
                </button>
            </div>
        </div>
    </div>
</div>