<!-- danh sach account -->
<div class="container-fuild" style="margin-top: 5px;">
  <div>
    <div class="row cust-row" style="margin-left: 5px;
        margin-right: 3px;">
      <div class="col-12" style="border-bottom: 1px solid #c8ced3;padding: 0px;">
        <div class="p-2" style="font-weight: 500;">
          <span>THÔNG TIN KHÁCH HÀNG</span>
        </div>
      </div>
      <div class="col-12" style="margin-top: 10px; margin-bottom: 5px;">
        <div class="col-6 colLeft">
          <div class="row">
            <label class="col-sm-5 col-form-label textLabel">Mã khách hàng
            </label>
            <div class="col-sm-7 txt">
              <label>{{detailProcess.customerCode ? detailProcess.customerCode : 'XXXXXX'}}</label>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 col-form-label textLabel">Số giấy tờ xác minh
            </label>
            <div class="col-sm-7 txt">
              <label>{{detailProcess.perDocNo}}</label>
            </div>
          </div>
        </div>
        <div class="col-6 colRight">
          <div class="row">
            <label class="col-sm-5 col-form-label textLabel">Họ và tên
            </label>
            <div class="col-sm-7 txt">
              <label>{{detailProcess.fullName}}</label>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 col-form-label textLabel">Ngày sinh
            </label>
            <div class="col-sm-7 txt">
              <label>{{detailProcess.getBirthDay()}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- thong tin tai khoan -->
    <div>
      <div class="row cust-row" style="margin-left: 5px;
        margin-right: 3px;margin-top: 5px;">
        <div class="col-12" style="border-bottom: 1px solid #c8ced3;padding: 0px;">
          <div class="p-2" style="font-weight: 500;">
            <span>THÔNG TIN TÀI KHOẢN</span>
          </div>
        </div>
        <div class="col-12" style="margin-top: 10px; margin-bottom: 5px;">
          <div class="col-6 colLeft">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Tên tài khoản
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailAccount.accountName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Số tài khoản
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailAccount.accountNumber}}</label>
              </div>
            </div>
          </div>
          <div class="col-6 colRight">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Loại tiền tệ
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailAccount.currencyCode}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Trạng thái
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailAccount.currentStatusName}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ket thuc thong tin tai khoan -->
    <!-- thong tin dong so huu -->
    <div>
      <div class="row cust-row" style="margin-left: 5px;margin-right: 3px;">
        <div class="col-12" style="border-bottom: 1px solid #c8ced3;padding: 0px;">
          <div class="p-2" style="font-weight: 500;">
            <span>THÔNG TIN ĐỒNG SỞ HỮU</span>
          </div>
        </div>
        <div class="col-12" style="margin-top: 10px; margin-bottom: 5px;">
          <div class="col-6 colLeft">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Họ và tên:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.fullName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Giới tính:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.genderName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Số giấy tờ xác minh:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.perDocNo}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Ngày cấp:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.getIssueDate()}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Ngày hết hiệu lực:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.getExpireDate()}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Người cư trú:
              </label>
              <div class="col-sm-7 txt">
                <div class="form-check form-check-inline">
                  <input class="form-check-input checked" disabled name="exampleRadios" type="radio" id="exampleRadios1"
                         [checked]="detailCoOwner.residence">
                  <label class="form-check-label" for="exampleRadios1" style="color: black">Có</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" disabled name="exampleRadios" type="radio" id="exampleRadios2"
                         [checked]="!detailCoOwner.residence">
                  <label class="form-check-label" for="exampleRadios2" style="color: black">Không</label>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Chức vụ:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.position}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Tình trạng hôn nhân:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.maritalStatusName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Trình độ học vấn:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.educationName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Sector:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.educationName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Quốc tịch:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.nationalityName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Thu nhập:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.income}}</label>
              </div>
            </div>

          </div>
          <div class="col-6 colRight">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Mã khách hàng:
              </label>
              <div class="col-sm-7 txt">
                <label style="color: #23388F;">XXXXXX</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Ngày sinh:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.getBirthDay()}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Loại giấy tờ tùy thân:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.perDocTypeName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Nơi cấp:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.issuePlace}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Điên thoại di động:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.mobilePhone}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Nơi sinh:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.bornOfPlace}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Nghề nghiệp:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.industryName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Mã nhân viên:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.employeeId}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Chi nhánh / PGD:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.branchName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Địa chỉ email:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.email}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Mã số thuế TNCN:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.personalIncomeTax}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">
              </label>
              <div class="col-sm-7 txt">
                <div class="form-check form-check-inline">
                  <input disabled class="form-check-input" name="exampleRadios" type="checkbox"
                         [checked]="detailCoOwner.salaryInBank">
                  <label class="form-check-label" style="color: black">Nhận lương qua LienVietPostBank</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="display: block;font-weight: 900;font-size: 15px;">
          <div class="p-2" style="font-weight: 500;border-bottom: 1px solid #c8ced3;">
            <span>Địa chỉ hiện tại</span>
          </div>
        </div>
        <div class="col-12" style="padding: 15px 0px 15px 0px;display: flex;">
          <div class="col-6 colLeft">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Quốc gia:
              </label>
              <div class="col-sm-7 txt">
                <label>Việt Nam</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Quận/huyện:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.cdistrictName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Số nhà, đường phố:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.cstreetNumber}}</label>
              </div>
            </div>
          </div>
          <div class="col-6 colRight">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Tỉnh/thành phố:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.ccityName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Phường/xã:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.cwardName}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="display: block;font-weight: 900;font-size: 15px;">
          <div class="p-2" style="font-weight: 500;border-bottom: 1px solid #c8ced3;">
            <span>Địa chỉ phường trú</span>
          </div>
        </div>
        <div class="col-12" style="padding: 15px 0px 15px 0px;display: flex;">
          <div class="col-6 colLeft">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Quốc gia:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.nationalityName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Quận/huyện:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.rdistrictName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Số nhà, đường phố:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.rstreetNumber}}</label>
              </div>
            </div>
          </div>
          <div class="col-6 colRight">
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Tỉnh/thành phố:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.rcityName}}</label>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label textLabel">Phường/xã:
              </label>
              <div class="col-sm-7 txt">
                <label>{{detailCoOwner.rwardName}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="display: block;font-weight: 900;font-size: 15px;">
          <div class="p-2" style="font-weight: 500;border-bottom: 1px solid #c8ced3;">
            <span>Thông tin FATCA</span>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <br>
        </div>
      </div>
    </div>
    <!-- ket thuc thong tin dong so huu-->
</div>
<div style="height: 50px;display: block;clear: both;"></div>
<div class="row footer-row" style="margin:0px;position: fixed;width: 100%;bottom: 0px;background: #23388F;">
  <div class="col-12" style="text-align: right;padding: 0px;cursor: pointer;margin: 0px;">
    <div class="footer" style="padding-right: 20px;" style="cursor: pointer;" (click)="create()">
            <span class="material-icons" style="cursor: pointer;">
                note_add
            </span>
      <label style="padding: 3px 5px 5px 5px !important;cursor: pointer;">Thêm mới đồng sở hữu</label>
    </div>
    <div class="footer" style="cursor: pointer;" (click)="updateCoOwner()">
            <span class="material-icons" style="cursor: pointer;">
                edit
            </span>
      <label style="padding: 3px 5px 5px 5px !important;cursor: pointer;">Cập nhật thông tin</label>
    </div>
    <div class="footer" style="cursor: pointer;" (click)="deleteCoOwner()">
            <span class="material-icons" style="cursor: pointer;">
                clear
            </span>
      <label style="padding: 3px 5px 5px 5px !important;cursor: pointer;">Xóa thông tin</label>
    </div>
    <div class="footer" (click)="backPage()" style="cursor: pointer;">
            <span class="material-icons" style="cursor: pointer;">
                keyboard_backspace
            </span>
      <label style="padding: 3px 5px 5px 5px !important;cursor: pointer;">Trở về trang trước</label>
    </div>
  </div>
</div>
