// .label-title{
//     font-size: 17px;
//     margin: 0px;
//     font-weight: 500;
//     display: block;
//     padding: 0.5em;
//     border-bottom: 1px solid #c8ced3;
//     color: #1F69BC;
// }
.material-icons{
    font-size: 20px;
    color: #007bff;
}
a:hover{
text-decoration: none;
}
.footer-row{
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
  }
.footer{
    padding: 6px;
}