<div class="container-fluid">
    <div class="row">
        <div class="col-3 float-left" style="padding: 0px;">
            <app-menu-tree></app-menu-tree>
        </div>
        <div class="col-9 float-left" style="padding: 0px;">
            <div class="col-12 titleSearch">
                <i class="fa fa-plus-square" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">THÔNG TIN KHÁCH HÀNG</span>
            </div>
            <div class="col-12" style="padding: 0px;display: flex; border-bottom: 1px solid #BDBDBD;">
                <div class="col-6 colLeft">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Mã khách hàng
                        </label>
                        <div class="col-sm-7 txt">
                        <label>XXXXX</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Ngày sinh
                        </label>
                        <div class="col-sm-7 txt">
                        <label>11/09/1998</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Địa chỉ email
                        </label>
                        <div class="col-sm-7 txt">
                        <label>thaont8@gmail.com</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Số giấy tờ xác minh
                        </label>
                        <div class="col-sm-7 txt">
                        <label>026198002425</label>
                        </div>
                    </div>
                </div>
                <div class="col-6 colRight">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Họ và tên
                        </label>
                        <div class="col-sm-7 txt">
                        <label>NGUYEN THU THAO</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Giới tính
                        </label>
                        <div class="col-sm-7 txt">
                        <label>Nữ</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Điện thoại di động
                        </label>
                        <div class="col-sm-7 txt">
                        <label>0398434888</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Trạng thái
                        </label>
                        <div class="col-sm-7 txt">
                        <label>Khởi tạo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 titleSearch" style="display: flex;">
                <mat-icon aria-hidden="false" style="margin-left: 15px;color: #23388F;">add</mat-icon>
                <span style="color: #23388F;padding-left: 7px;padding-top: 3px;">THÊM MỚI</span>
            </div>
            <div class="col-12" style="display: flex;">
                <div class="col-6 colLeft">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label  class="col-sm-4 col-form-label textLabel">Tên tài khoản
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" type="text" >
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label  class="col-sm-4 col-form-label textLabel">Loại tài khoản
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control form-control-sm">
                                <option>Tài khoản thanh toán</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label  class="col-sm-4 col-form-label textLabel">Tên gợi nhớ
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" type="text">
                        </div>
                    </div>
                    
                </div>
                <div class="col-6 colRight">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label  class="col-sm-4 col-form-label textLabel">Gói tài khoản
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control form-control-sm">
                                <option>Tài khoản thanh toán</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label  class="col-sm-4 col-form-label textLabel">Loại tiền tệ
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control form-control-sm">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label  class="col-sm-4 col-form-label textLabel">Mã nhân viên
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control form-control-sm">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="text-align: right;height: 57px;padding-top: 10px;border-top: 1px solid #BDBDBD;">
                <button type="button" class="btn btn-primary" style="background-color: #23388F;">
                    <mat-icon aria-hidden="false" style="display: block;float: left;">note_add</mat-icon>
                    <span style="display: block;float: left;">Lưu thông tin</span>
                </button>
            </div>
        </div>
    </div>
</div>