

::ng-deep .mat-select-panel.example-panel {
  min-width: 358px !important;
  margin-left: 7% !important;
}
::ng-deep .mat-select-panel.title-panel {
  min-width: 358px !important;
}
  @import '/src/popup.scss'
  